realms_persistence.json
servers.dat
servers.dat_old
usercache.json
options.txt
command_history.txt
checkbox_states.json
spiffy_instance_data
screenshots
debug
.minecraft-botc/data
resourcepacks
mods
logs
flashback
fancymenu_data
emotes
downloads
crash-reports
cache
.fabric
.mixin_out/
/datapacks
/data
config/axiom
config/carpet
config/enhancedgroups
config/fabric
config/NoChatReports
config/voicechat/category-volumes.properties
config/voicechat/player-volumes.properties
config/voicechat/translations.properties
config/voicechat/username-cache.json
config/worldedit
config/sit!
config/armorposer.toml
config/clean-debug.json
config/collective.json5
config/cubes-without-borders.json
config/eclipsescustomname.json
config/eg_bedrock_books.json
config/emotecraft.json
config/ferritecore.mixin.properties
config/forgeconfigapiport.toml
config/immediatelyfast.json
config/iris-excluded.json
config/iris.properties
config/lithium.properties
config/midnightlib.json
config/modmenu.json
config/moreculling.toml
config/nbt_ac.txt
config/player-pronouns.json
config/resourcepackoverrides.json
config/scalablelux.properties
config/scribble.json
config/simplenicknames.json5
config/sit.json5
config/sodium-fingerprint.json
config/sodium-mixins.properties
config/sodium-options.json
config/terrablender.toml
config/threadtweak.json
config/yacl.json5
config/yawp-common.toml
config/yawp-flags.toml
config/yawp-logging.toml
config/yawp-region-defaults.toml
config/voicechat-client
config/simplemacro
/saves/seed1